html {
  margin: 0;
  padding: 0; }

body {
  font-size: 15px;
  letter-spacing: 0.0125rem;
  padding: 0;
  margin: 0; }

.button {
  background-color: #9BE893;
  border: none;
  padding: 10px;
  width: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "caviar_dreamsregular", sans-serif; }
  .button:hover {
    cursor: pointer; }

h1 {
  font-family: "caviar_dreamsregular", sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0; }

h2 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

.landingPage {
  height: 100vh; }

.main-header {
  background-image: url(../images/header-bkg.png);
  background-size: cover;
  background-position: center;
  height: 25vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-header .button {
    position: absolute;
    font-size: 1.2rem;
    top: 10px;
    right: 10px; }
    .main-header .button a:hover {
      text-decoration: none; }
    .main-header .button:hover {
      background-color: rgba(155, 232, 147, 0.8);
      color: rgba(0, 0, 0, 0.8);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
  .main-header h1 {
    font-size: 6rem; }

.hide {
  display: none; }

.show {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.dropup, .dropdown {
  list-style: none; }

#login-dropdown-list a {
  color: black;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif; }

.dropdown-menu {
  right: 0 !important;
  left: -300%; }

.caret {
  display: none; }

.btn-primary {
  background-color: #85A4CE;
  border-color: #85A4CE; }

.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; }

.intro-block {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  background-color: #85A4CE;
  text-align: center;
  padding: 20px; }
  .intro-block h2 {
    color: #fff;
    size: 1.8rem;
    margin: 0 0 15px 0; }
  .intro-block p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 300; }

.intro-text {
  max-width: 800px; }

.card-example {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: center; }

.card {
  position: relative;
  width: 80%;
  padding: 10px;
  max-width: 800px;
  height: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column; }
  .card h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem; }
  .card p {
    margin-top: 50px;
    text-align: center;
    font-font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 2rem; }
  .card span {
    opacity: 0;
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
    width: 100%; }
  .card .button {
    position: absolute;
    padding: 15px;
    font-size: 1.4rem;
    color: #fff; }
    .card .button:hover {
      transition: all ease-in-out 0.3s;
      background-color: rgba(155, 232, 147, 0.8);
      color: #000; }
  .card #viewCard {
    bottom: 10px;
    right: 60px; }
  .card #nextCard {
    bottom: 10px;
    right: 10px; }

.by {
  right: 0;
  bottom: 0;
  background-color: #1695e7;
  color: #fff;
  position: fixed;
  font-weight: 500;
  z-index: 99;
  border-top-left-radius: 0.2em;
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

.twitter-btn {
  position: fixed;
  right: 15%;
  bottom: 0;
  z-index: 99; }
