<template name="HomeLayout">
    <main class="landingPage">
        <header class="main-header">
            <div class="button" id="login">
                {{> loginButtons}}
            </div>
            <h1>Study Smart</h1>
        </header>
        <div class="intro-block">
            <div class="intro-text">
                <h2>What is Study Smart?</h2>
                <p>
                    Study smart is a flash card & note taking based study tool with a twist!
                    Did you know that changing the font style and color periodically
                    helps improve your memory!?
                </p>
                <p>
                    You put in the info and we take care of the rest!
                </p>
            </div>
        </div>
        <!-- Personal Branding -->
        <div class="twitter-btn">
            <a href="https://twitter.com/Dotolo2" class="twitter-follow-button" data-show-count="false">Follow @Dotolo2</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="by">
            <span>by Dylan Dotolo</span>
        </div>
    </main>

    <!-- Pops up when user clicks on sign up/login btn -->
    <!-- <section href="#login" class="loginWrapper">
        <div class="loginCard">
            {{> loginButtons}}
        </div>
    </section> -->
</template>
